# Tasks
## json value extraction
## summary counts at user-month level verification

In [1]:
# Save and load as pickle
import pandas as pd
#df.to_pickle('/Users/pranjal/Downloads/data.pkl')
df = pd.read_pickle('/Users/pranjal/Downloads/data.pkl')

In [2]:
df.head()

,userid,event,msgid,cts,body
1,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,NudgeCreated,852618c20ec54ef69ad8c7b64f7ad564,2021-10-16T08:09:25.000Z,"{\message\"": \""Con i Gruppi di Spesa \\u00e8 f..."
2,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,NudgeCreated,cb8e47a582b940d3ab93ba9ec8339bc1,2021-10-22T08:14:28.000Z,"{\message\"": \""Segui la rotta dei video Focus ..."
3,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,UserSignedIn,a5e17409-3ac8-4be9-8058-8c0031c14855,2021-12-25T00:17:49.000Z,"{\deviceCode\"": \""a44e3f40-511c-452a-99c8-7be3..."
4,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,UserSignedIn,e1a14dbe-adc8-4eb9-b043-fd7315e9234f,2021-09-30T12:51:36.000Z,"{\deviceCode\"": \""a7ebd2ee-72aa-45fc-9825-246b..."
5,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,UserSignedIn,c58d4b23-da8d-4e62-983a-a7ae1bc7d00f,2021-10-08T08:18:05.000Z,"{\deviceCode\"": \""a44e3f40-511c-452a-99c8-7be3..."

In [3]:
df = df[df.event == 'UserSignedIn']

In [4]:
df.shape

(11015365, 5)

In [5]:
# Cleaning the "Body" json
import json
def clean(x):
    x = x.replace("\\", "")
    x = x.replace("/", "")
    x = x + "}"
    x = x.replace("{", "{\"")
    x = x.replace("\\", "")
    x = x.replace("}", "\"}")
    x = x.replace(": ", ": \"")
    x = x.replace("\"\"", "\"")
    x = x.replace("\"}\"}", "\"}")

    try:
        x = json.loads(x)
        return x
    except:
        print(x)
        return {}

df['body_clean'] = df['body'].apply(clean)

In [6]:
df.drop(['body'], axis = 1, inplace = True)

In [7]:
df['date'] = pd.to_datetime(df.cts).dt.date
df['yearmonth'] = pd.to_datetime(df.cts).dt.to_period('M')
df.head()

/usr/local/lib/python3.9/site-packages/pandas/core/arrays/datetimes.py:1101: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

,userid,event,msgid,cts,body_clean,date,yearmonth
3,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,UserSignedIn,a5e17409-3ac8-4be9-8058-8c0031c14855,2021-12-25T00:17:49.000Z,{'deviceCode': 'a44e3f40-511c-452a-99c8-7be335...,2021-12-25,2021-12
4,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,UserSignedIn,e1a14dbe-adc8-4eb9-b043-fd7315e9234f,2021-09-30T12:51:36.000Z,{'deviceCode': 'a7ebd2ee-72aa-45fc-9825-246bc5...,2021-09-30,2021-09
5,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,UserSignedIn,c58d4b23-da8d-4e62-983a-a7ae1bc7d00f,2021-10-08T08:18:05.000Z,{'deviceCode': 'a44e3f40-511c-452a-99c8-7be335...,2021-10-08,2021-10
6,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,UserSignedIn,85faefc9-0b96-4945-a12c-2ede306937ad,2022-01-26T10:37:43.000Z,{'deviceCode': 'a44e3f40-511c-452a-99c8-7be335...,2022-01-26,2022-01
9,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,UserSignedIn,4119096b-b521-4943-9a42-abb09e7dd617,2021-11-04T11:20:56.000Z,{'deviceCode': 'a44e3f40-511c-452a-99c8-7be335...,2021-11-04,2021-11

In [8]:
# Panel form

In [9]:
a = pd.DataFrame(df.userid.unique())
b = pd.DataFrame(df.yearmonth.unique())
c = pd.merge(left = a, right = b, how = 'cross')

In [22]:
c.columns = ['userid', 'yearmonth']

In [23]:
c.head()

                                 userid yearmonth
0  02542fb7-9ee9-49f9-b17f-e7f6c841c9bb   2021-12
1  02542fb7-9ee9-49f9-b17f-e7f6c841c9bb   2021-09
2  02542fb7-9ee9-49f9-b17f-e7f6c841c9bb   2021-10
3  02542fb7-9ee9-49f9-b17f-e7f6c841c9bb   2022-01
4  02542fb7-9ee9-49f9-b17f-e7f6c841c9bb   2021-11

In [24]:
d = pd.merge(left = c, right = df[['userid', 'yearmonth', 'msgid']], on = ['userid', 'yearmonth'], how = 'left')

In [31]:
e = d.groupby(['userid', 'yearmonth']).count()

In [32]:
e.head()

                                                msgid
userid                               yearmonth
0000de84-6614-4df3-b354-08f9cf103763 2020-02        0
                                     2020-03        0
                                     2020-04        0
                                     2020-05        0
                                     2020-06        0

In [33]:
f = e.sort_values(by = ['userid', 'yearmonth'])

In [35]:
f.head(100)

                                                msgid
userid                               yearmonth
0000de84-6614-4df3-b354-08f9cf103763 2020-02        0
                                     2020-03        0
                                     2020-04        0
                                     2020-05        0
                                     2020-06        0
...                                               ...
0002bfb6-603f-49af-96ff-050b199bffa7 2020-10        0
                                     2020-11       23
                                     2020-12        0
                                     2021-01        0
                                     2021-02        0

[100 rows x 1 columns]

In [28]:
d[d.userid == '02542fb7-9ee9-49f9-b17f-e7f6c841c9bb']

,userid,yearmonth,msgid
0,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-12,a5e17409-3ac8-4be9-8058-8c0031c14855
1,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-12,bd1c18ce-7c88-42c7-9acf-50e0d96b1058
2,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-09,e1a14dbe-adc8-4eb9-b043-fd7315e9234f
3,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-09,d0a2fb86-3f38-48f9-9106-61b2771f493d
4,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-09,6659d2c1-d939-4f80-8de9-0d3b2752d15f
5,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-09,239394f5-489c-4c88-9d9c-87ab7c0180d7
6,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-09,19013ee1-22e2-4856-b174-d43ce6a4cd80
7,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-09,d3ca85b6-9ac5-4abf-af6c-78e755cf8809
8,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-09,4fc3a271-9657-47ea-83f5-7b468daac218
9,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-09,da21de29-b122-4a48-ac62-2d6d740fedac
10,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-09,cd8d3a85-c040-400b-82f3-758e81cc0e16
11,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-09,fdf0e4a2-b881-44d3-a84b-6ac7803c202a
12,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-09,13e87506-0fcb-4433-a5dc-29cdcc130f88
13,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-10,c58d4b23-da8d-4e62-983a-a7ae1bc7d00f
14,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-10,a47fd3cc-c9db-432b-9f50-d8aa76bf35a5
15,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-10,625cda9f-6a43-4070-9630-a3e6774c2690
16,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-10,237ac898-ac89-40b8-a741-c8399791d328
17,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2022-01,85faefc9-0b96-4945-a12c-2ede306937ad
18,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-11,4119096b-b521-4943-9a42-abb09e7dd617
19,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-11,70becd96-75d8-48e6-aae3-2e50d2a1aeb0
20,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-11,a06b3b0a-27a7-4003-b2c7-81f2ac6239f5
21,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-11,94a4938a-8a42-4aa1-b48a-50ce9a170b9e
22,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2022-06,NaN
23,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2022-04,NaN
24,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2022-05,NaN
25,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2022-02,NaN
26,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2020-12,NaN
27,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-01,NaN
28,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-02,NaN
29,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-03,NaN
30,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-06,NaN
31,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-07,NaN
32,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2020-11,NaN
33,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-04,NaN
34,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2022-03,NaN
35,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2020-09,NaN
36,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-08,NaN
37,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2020-10,NaN
38,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2021-05,NaN
39,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2020-07,NaN
40,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2020-08,NaN
41,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2020-06,NaN
42,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2020-05,NaN
43,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2020-04,NaN
44,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2020-02,NaN
45,02542fb7-9ee9-49f9-b17f-e7f6c841c9bb,2020-03,NaN

In [18]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how: str = 'inner', on=None, left_on=None, right_on=None, left_index: bool = False, right_index: bool = False, sort: bool = False, suffixes=('_x', '_y'), copy: bool = True, indicator: bool = False, validate=None) -> 'DataFrame'
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.
    When performing a cross merge, no column specifications to merge on are
    allowed.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
        * cross: creates the cartesian product from both frames, preserves the order
          of the left keys.

          .. versionadded:: 1.2.0

    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : list-like, default is ("_x", "_y")
        A length-2 sequence where each element is optionally a string
        indicating the suffix to add to overlapping column names in
        `left` and `right` respectively. Pass a value of `None` instead
        of a string to indicate that the column name from `left` or
        `right` should be left as-is, with no suffix. At least one of the
        values must not be None.
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to the output DataFrame called "_merge" with
        information on the source of each row. The column can be given a different
        name by providing a string argument. The column will have a Categorical
        type with the value of "left_only" for observations whose merge key only
        appears in the left DataFrame, "right_only" for observations
        whose merge key only appears in the right DataFrame, and "both"
        if the observation's merge key is found in both DataFrames.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------
    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

    >>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
    >>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
    >>> df1
          a  b
    0   foo  1
    1   bar  2
    >>> df2
          a  c
    0   foo  3
    1   baz  4

    >>> df1.merge(df2, how='inner', on='a')
          a  b  c
    0   foo  1  3

    >>> df1.merge(df2, how='left', on='a')
          a  b  c
    0   foo  1  3.0
    1   bar  2  NaN

    >>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
    >>> df2 = pd.DataFrame({'right': [7, 8]})
    >>> df1
        left
    0   foo
    1   bar
    >>> df2
        right
    0   7
    1   8

    >>> df1.merge(df2, how='cross')
       left  right
    0   foo      7
    1   foo      8
    2   bar      7
    3   bar      8

In [11]:
= df[['userid', 'date', 'event']].groupby(['userid', 'date']).count()

                                                 event
userid                               date
0000de84-6614-4df3-b354-08f9cf103763 2020-08-01      5
                                     2020-08-02      2
                                     2020-08-14      1
                                     2022-06-01      2
000216a8-ed1e-4d3c-a7b8-f08d0437430b 2020-12-02      6
...                                                ...
fffee4e1-dd99-4693-84fe-681c8b577152 2021-02-26      1
                                     2022-03-23      3
ffff43b6-2e01-451b-b32a-791fd6fd6905 2020-09-24      6
                                     2020-09-25     13
                                     2020-10-02      2

[4001324 rows x 1 columns]